
.wrap {margin: 0 auto;}

/* row properties */
.row {width: 100%;}
.row:after {content: ''; display: table; clear: both;}

/* column properties*/

.col {float: left; padding: 0 15px;}

.full {width: 100%;}
.half {width: 50%;}
.third {width: 33.33333%;}
.fourth {width: 25%;}
.fifth {width: 20%;}
.sixth {width: 16.666666667%;}
.seventh {width: 14.2857142857%;}
.eighth {width: 12.8%;}

